[
    {
        "host": "webdav.yandex.ru",
        "password": "********",
        "user": "backup-uploader1",
        "remotedir": "/dir1",
        "targets": [
            [
                "/db-",
                15
            ],
            [
                "/upload-",
                7
            ]
        ]
    },
    {
        "host": "webdav.yandex.ru",
        "password": "********",
        "user": "backup-uploader2",
        "remotedir": "/dir1",
        "targets": [
            [
                "/db-",
                15
            ],
            [
                "/upload-",
                7
            ]
        ]
    }
]
