{
    "host": "webdav.yandex.ru",
    "password": "********",
    "user": "backup_uploader",
    "remotedir": "/",
    "targets": [
        [
            "/db-",
            15
        ],
        [
            "/upload-",
            7
        ]
    ]
}
